
.fundo{
    position: relative;
    width: 100vw;
    height: 100vw;
    background-color: #c0f1f7;
    
}


.titulo{
    text-align: center;
    position: absolute;
    left: 100px;
    top: 50px;
    font-size: 110px;
    font-family: Miltonian Tattoo;
    color: rgb(25, 92, 54)

}

.historia{
    text-align: justify;
    position: absolute;
    left: 100px;
    top: 400px;
    font-size: 25px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black
}


.voltar img{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-decoration: none;
      font-size: 20px;
       position: absolute;
        left: 600px;
         top: 1100px;
          width: 150px;
           height: 142px;
            text-align: center;
             display: flex;
              justify-content: center;
               align-items: center;
               color: rgb(26, 25, 92)
}

.vot{
    font-size: 20px;
    position: absolute;
    font-family: Miltonian Tattoo;
     left: 610px;
      top: 1250px;
       width: 150px;
        height: 142px;
         text-align: center; 
         color: rgb(25, 92, 54);}